*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
body {
    background: #2d2a3d;
    font-family: 'Poppins', sans-serif;
    
}

#form {
    width: 300px;
    margin: 10vh auto 0 auto;
    padding: 20px;
    background-color: rgb(128, 124, 124);
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
    margin-bottom: 2rem;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color:#ff702a;
    border: none;
    border-radius: 4px;
    margin-top: 3rem;
    cursor: pointer;
}
/* .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.popup{
    width: 350px;
    height: 280px;
    padding: 30px 20px;
    background: #f5f5f5;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 2;
    text-align: center;
    opacity: 0;
    top: -200%;
    transform: translate(-50% ,-50%) scale(0.5);
    transition: opacity 300ms ease-in-out,
                top 1000ms ease-in-out,
                transform 1000ms ease-in-out
}
.popup .active{
    opacity: 1;
    top: 50%;
    transform: translate(-50% ,-50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18 ,0.89,0.43,1.19);
}
.popup .icon{
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid #34f234;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
}
.popup .icon i.fa{
    font-size: 30px;
    color: #34f234;
}
.popup .title{
    margin: 5px 0px;
    font-size: 30px;
    font-weight: 600;
}
.popup .description{
    color: #222;
    font-size: 15px;
    padding: 5px;
}
.popup .dismiss-btn{
    margin-top: 15px;
}
.popup .dismiss-btn button{
    padding: 10px 20px;
    background: #111;
    color: #f5f5f5;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.popup .dismiss-btn button:hover{
    color: #111;
    background-color: #f5f5f5;
} */
/* .popup{
    width: 400px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50% ,-50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2) ;
} */
.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}
@media(max-width: 600px){
    container{
        min-width: 280px;
    }
    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }
    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }
    .gender-category{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }
    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}